#grid-container {
    position:absolute;
    width:100%;
    height:100%;
    display: grid;
    padding: 1px;
    grid-template-rows: 5% 95%;
    grid-template-columns: 12% 88%;
}

#navbar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    margin-bottom: 5pt;
}

#left-sidebar {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    font-size: 12pt;
    text-align: center;
}

#left-sidebar-header {
    display: flex;
    grid-template-columns: 60% 40%;
    font-size: 16pt;
}

#left-sidebar-header-text {
    text-align: center;
}

#left-sidebar-controls {
    text-align: right;
}

#workspace {
    grid-column: 2 span 1;
    grid-row: 2 span 1;
    display: block;
    flex-direction: column;
    overflow: auto;
}

#todo-list-items-div{
    display: flex;
    flex-direction: column;
}

.list-item-card {
    height: 4%;
    display: flex;
    flex-direction: row;
}

.task-col {
    width:25%;
}

.due-date-col {
    width:25%;
}

.status-col {
    width:25%;
}

.list-controls-col {
    width:25%;
    display: flex;
    flex-direction: row;
}

.list-item-control {
    width: 20%;
}

.list-item-control-up {
    width: 20%;
}

.list-item-control-down {
    width: 20%;
}

.list-item-control-close {
    width: 20%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
  }
  
.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 10%;
    text-align: center;
}